<h1>Find the International Space Station</h1>

<div class="iss-search">
  <p>Search location: <%= facade.user_estimated_location %></p>
  <p>Time of search: <%= facade.time_of_search %></p>

  <p>Next Rise Time: <%= facade.next_rise_time %></p>
  <p>Duration: <%= facade.duration %> minutes </p>
</div>
