
<div class='page--index' style="background-image: url('https://www.rebornevo.com/forum/uploads/monthly_2017_07/banner2.png.3adb9e0c7eee3d488000e87bcbfaf457.png')"

  <% if current_user %>
  <div class="">
    <section class="search">
      <%= link_to "SEARCH", new_search_path, class: "search-button" %>
    </section>
  <% else %>
    <section class="search">
      <div class="sign-up-message">
        <p><%= link_to "Click Here", new_user_path %> to sign up and start exploring the cosmos!</p>
      </div>
    </section>
  <% end %>
  <section class="welcome-content">
    <p>Welcome to Space In Your Face</p>
    <p>Where all of space is brought to your face</p>
    <p>In one convenient place.</p>
  </section>
  </div>


</div>
