<h1>Welcome to Space In Your Face</h1>

<div class="transbox">
  <div class="welcome_message">
    <p>
      Where you can track celestial bodies in the night sky as they pass by.
      It is cool, fun and educational. Bring your own telescope that will track the
      movement of that object so you can enjoy an even better viewing experience.
    </p>
  </div>
</div>
