<div class="about_container">
    <h1>About</h1>
    <section id='about_message'>
      <p>
        Space In Your Face, where you can track celestial bodies in the night sky as they pass by.
        It is cool, fun and educational. Bring your own telescope that will track the
        movement of that object so you can enjoy an even better viewing experience. This is all accomplished through Skyfield which is a python based app that calculates information on any celctial bpdyies within its database.
      </p>
    </section>
    <h1>Telescope Instructions</h1>
    <section id='telescope_instructions'>
      <p>set it up like this!</p>
    </section>
    <h1>Credits</h1>
    <section id='credit_to'>
      <p><%= link_to 'Skyfield', 'https://rhodesmill.org/skyfield/' %>
      <%= link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/Lists_of_planets' %></p>
    </section>
</div>
