.page-container {
  display: flex;
  margin: auto;
}
.page-card {
  width: 33%;
  // border: 5px solid red;
}
.content-container {
  display: flex;
  flex-direction: column;
}

.page-card.wide {
  width: 140%;
}

.about_box {
  background-color: rgba(34,37,43,0.75);

  // border: 5px solid navy;
  margin: auto;
  width: 80%;
}

.about_box p {
  margin: auto;
  width: 90%;
  padding: 10px
}


#about_message p a {
  font-size: inherit;
  color:  inherit;
}

#credit_to {
  background-color: rgba(34,37,43,0.75);
  // border: 5px solid navy;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#credit_to p {
  padding: 0;
  margin: 0;
  padding: 10px;
}

#credit_to p a {
  font-size: inherit;
  color:  inherit;
}
