.tracking-button form {
  background: white;
  color: black;
  padding: 15px;
}

.body-container {
  min-height: calc(100vh - 63px);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.body-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-image {
  margin: auto;
  width: 30rem;
  display: flex;
  justify-content: center;
  padding: none;
}

.body-image img {
  width: 25rem;
  height: 25rem;
}

.tracking-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.body-description{
  margin-top: 5%;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px;
  background-color: rgba(34,37,43,0.75);
  color: white;
}

.tracking-button form {
  background-color: rgba(34,37,43,0);
  color: white;
}
