.iss-search-result-container {
  display: flex;
  justify-content: center;
}

.iss-search-result {
  margin-top: 5%;
  padding: 1.5rem;
  background-color: rgba(34,37,43,0.75);
  // border: 3px solid navy;
}

.text-alert-container {
  display: flex;
  justify-content: center;
}

.text-alert-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
.text-alert-form form label {
  width: 32rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.text-alert-form form input {
  display: block;
  margin: 0 auto;
}

.pass-info {
  margin-left: 2rem;
}

#phone {
  width: 8rem;
}
