.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.login-form #label {
  margin-bottom: 0;
  margin-left: 1rem;
}

.google_button_image img {
  width: 135px;
}
