.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.login-form #label {
  margin-bottom: 0;
  margin-left: 1rem;
}

.button_to {
  margin-left: 1.25rem;
  margin-bottom: 1.5rem;
}
