/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  border-bottom: 3px solid black ;
}

.topnav a {
  float: left;
  color: #2F4F4F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.small-logo {
  float: left;
}

.small-logo img {
  height: 100%;
  width: 60px;
}

.nav-links {
  display:flex;
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
