a {
  font-size: 1.5rem;
  color:  #37CBDC;
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
  text-decoration: none;
}

img {
  /* unused but necessary for inner images */
  max-width: 100%;
  max-height: 100vh;
}

// #rectangle a {
//   padding-left: 1rem;
// }

.nav_container {
  width: 100%;
  min-width: inherit;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background: #010101;
  height: 90px;
  // z-index: -1;
  opacity: .8;
  border: solid #37CBDC;
}

.nav_bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.upper_ship_nav_dash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_body_of_nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100% 100%;
}

.user_info {
  font-size: 1.75rem;
  color:  #37CBDC;
  // width: 15rem;
  // height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('https://i.imgur.com/MSO404s.png') no-repeat;
  background-size: 100% 100%;
}

.upper_ship_nav_dash #rectangle {
  height: inherit;
}
#display {
  // width: 14rem;
  // height: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#kits {
  // width: 6rem;
  // height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://i.imgur.com/XZWEZ9j.png');
  background-size: 100% 100%;
}

#inst {
  // width: 6rem;
  // height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://i.imgur.com/WMO2KOZ.png');
  background-size: 100% 100%;
}

#new_search{
  // width: 6rem;
  // height: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('https://i.imgur.com/7wv29nt.png');
  background-size: 100% 100%;
}



#rectangle {
  // width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: url("https://i.imgur.com/hOpD52p.png") no-repeat;
  background-size: 100% 100%;
}
