a {
  font-size: 2rem;
  color:  #37CBDC;
  display: flex;
  justify-content: center;

  padding-bottom: .5rem;
  text-decoration: none;
}

img {
  /* unused but necessary for inner images */
  max-width: 100%;
  max-height: 100vh;
}

#rectangle a {
  padding-left: 3rem;
}

.nav_bar {
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      // height: 45%;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

.upper_ship_nav_dash {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.main_body_of_nav_bar {
      width: 100%;
      height: 27vh;
      background: #4E5C5D;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-size: 100% 100%;
}

.bottomright {
      display: flex;
      flex-direction: row;
}

.bottomleft {
      display: flex;
      flex-direction: row;
}
.calander {
  padding-right: 1rem;
}

.user_feature_bar {
  width: 35%;
  height: 37vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user_feature_bar a {
  padding-bottom: 0;
}
#kits {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('circle1.png');
  background-size: 100% 100%;
}
#inst {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('circle3.png');
  background-size: 100% 100%;
  background-color: #4E5C5D;
}

#new_search{
  width: 30%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('circle2.png');
  background-size: 100% 100%;
}


#rectangle {
  width: 20rem;
  height: 10rem;
  background: #333333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: url("path_selector.png") no-repeat;
  background-size: 100% 100%;
  background-color: #4E5C5D;
  // object-fit: cover;
}

#triangle-bottomright {
      width: 0;
      height: 0;
      border-bottom: 10rem solid #4E5C5D;
      border-left: 10rem solid transparent;
    }

#triangle-bottomleft {
      width: 0;
      height: 0;
      border-bottom: 10rem solid #4E5C5D;
      border-right: 10rem solid transparent;
    }
