.new_user {
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

h4 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.registration-form #label{
  margin-bottom: 0;
  margin-left: 1rem;
  width: 135px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#field {
  margin: 0rem 1rem;

}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
