.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results {
  margin-top: 1rem;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.celestial-body {
  border: 1px solid navy;
  margin-top: 1rem;
  padding: 10px;
}

.search-results h4 {
  margin-top: none;
}

.body-link {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.search-and-refresh {
  display: flex;
  flex-direction: row;
}

.search-and-refresh div {
  margin: auto;
  display: inline-block;
  text-align: center;
  padding: 2rem;
}
