.search-results {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather {
  display: flex;
  flex-direction: row;
  background-color: rgba(34,37,43,0.75);
  width: 65rem;
}
.hourly_weather {
  margin: auto;
  justify-content: space-between;
}

.hour_weather li {
  list-style: none;
}

.results {
  background-color: rgba(34,37,43,0.75);
  margin-top: 1rem;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-around;
}

.celestial-body {
  // border: 1px solid navy;
  margin: 1rem 10px;
  padding: 10px;
}

.search-results h4 {
  margin-top: none;
}

.body-link {
  text-align: center;
  font-size: 20px;
}

.search-and-refresh {
  display: flex;
  flex-direction: row;
}

.search-and-refresh div {
  margin: auto;
  display: inline-block;
  text-align: center;
  padding: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

h4 time {
  height: 10px;
  // display: inline-flex;
}
