.search {
  display: flex;
  flex-wrap: wrap;
}

.check-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: white;
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
