.search-container {
  display: flex;
  flex-direction: column;
}

.page-spacer {
  margin-top: 5%;
}
.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.search-body-box {
  background-color: rgba(34,37,43,0.75);
  margin: 10px auto;
  width: 450px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  // border: 3px solid navy;
}

.iss-search {
  background-color: rgba(34,37,43,0.75);
  margin: 0px 132px;
  width: 450px;
  padding-top: 25px;
  // border: 3px solid navy;
}

.body-choices {
  margin: auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.location-field {
  text-align: center;
  width: 400px;
  padding: 10px;
}

#location-search-box label {
  padding-bottom: 10px;
}

#status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#location-search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#iss_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
