h1 {
  color: #37CBDC;
  display: flex;
  justify-content: center;
}


.transbox {
  margin: 30px;
  background-color: #010101;
  border: 1px solid #37CBDC;
  opacity: 0.9;
  filter: alpha(opacity=60);
  display: justify-content;
}
p {
  color: #37CBDC;
  font-weight: bold;
  font-size: 1.5rem;
}
